.slider{

    width: 100%;
    height: 2px;
    background:hsl(142, 12%, 81%) ;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-top: 20px;

}
.slider .thumb {
    width: 18px;
    height: 18px;
    cursor: grab;
    background: hsl(142, 20%, 52%);
    border-radius: 50%;
    
}
.track-1{
    background-color:hsl(142, 20%, 52%) ;
}